@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");

html {
  color-scheme: light dark;
}

body {
  min-height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling */

body {
  font-family: "Noto Sans", system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  min-height: 4rem;
}

header h1 {
  font-size: 2.5rem;
}

/* Main */

main {
  flex: 1;
}

h1,
h2 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-synthesis: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  place-items: center;
  height: 2rem;
}
